<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Order System</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
<div class="<%= @books %>-books">
  <div class="row page-container">
    <%= render 'layouts/links'%>
    <div class="col-8">
      <% unless @books == "home"%>
        <%= render 'layouts/title'%>
      <% end %>
      <%= yield %>
    </div>
    <div class="col-2"></div>
  </div>
</div>
</body>

</html>